<%= simple_form_for(@equipment_checkout) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="col-xs-3">
  <div class="col-xs-8"><%= f.input_field :checkout_date, class: "form-control datepicker", as: :string, id: "invoice_date" %></div>
          </div>
    <%= f.association :employee, :include_blank => true, :label_method => :employee_name%>
    <%= f.association :equipment, :include_blank => true, :label_method => :equipment_name%>



    <%= f.button :submit %>
      </div>
  </div>
<% end %>
