<p id="notice"><%= notice %></p>

<p>
  <strong>Potential customer:</strong>
  <%= @estimate.potential_customer %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @estimate.terms %>
</p>

<p>
  <strong>Description:</strong>
  <%= @estimate.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @estimate.quantity %>
</p>

<p>
  <strong>Total:</strong>
  <%= @estimate.total %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @estimate.customer_id %>
</p>

<%= link_to 'Edit', edit_estimate_path(@estimate) %> |
<%= link_to 'Back', estimates_path %>
