<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :employee_name %>
    <%= f.input :employee_phone %>
    <%= f.association :crew, :include_blank => true, :label_method => :crew_name%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
