<p id="notice"><%= notice %></p>

<h1>Listing Vehicle Checkouts</h1>

<table>
  <thead>
    <tr>
      <th>Checkout date</th>
      <th>Return date</th>
      <th>Crew</th>
      <th>Vehicle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% vehicle_checkouts.each do |vehicle_checkout| %>
      <tr>
        <td><%= vehicle_checkout.checkout_date %></td>
        <td><%= vehicle_checkout.return_date %></td>
        <td><%= vehicle_checkout.crew_id %></td>
        <td><%= vehicle_checkout.vehicle_id %></td>
        <td><%= link_to 'Show', vehicle_checkout %></td>
        <td><%= link_to 'Edit', edit_vehicle_checkout_path(vehicle_checkout) %></td>
        <td><%= link_to 'Destroy', vehicle_checkout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle checkout', new_vehicle_checkout_path %>
