<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

   <%= f.association :crew, label_method: :crew_name, value_method: :id, :input_html => {id: 'menus',:style=> 'width: 300px'} %>
    <%= f.association :project, label_method: :project_name, value_method: :id, :input_html => {id: 'menus',:style=> 'width: 300px'} %>

  <div id = "LineItems">
    <%= f.simple_fields_for :line_items do |line_item|%>
   
    <% end %>
    <div class = "links">

<%=link_to_add_association 'Add LineItems', f, :line_items, class: "btn btn-primary"%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
