<%= simple_form_for(@vehicle_checkout) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="col-xs-3">
      <%= f.input :return_date, :disabled => true %>
        <%= f.input :return_date, :as => :hidden, input_html: {value: Date.today} %>


      <%= f.button :submit %>
    </div>
    </div>
<% end %>