<%= simple_form_for(@vehicle_checkout) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="col-xs-3">
    <%= f.input :checkout_date %>
    <%= f.input :return_date %>
    <%= f.association :crew, :include_blank => true, :label_method => :crew_name%>
    <%= f.association :vehicle, :include_blank => true, :label_method => :vehicle_name%>

    <%= f.button :submit %>
  </div>
    </div>
<% end %>
