<p id="notice"><%= notice %></p>

<p>
  <strong>Checkout date:</strong>
  <%= @vehicle_checkout.checkout_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @vehicle_checkout.return_date %>
</p>

<% if @vehicle_checkout.crew.present? %>
<p>
  <strong>Crew:</strong>
  <%= @vehicle_checkout.crew_id %>
</p>

<% end %>

<% if @vehicle_checkout.vehicle.present? %>
<p>
  <strong>Vehicle:</strong>
  <%= @vehicle_checkout.vehicle_id %>
</p>
    <% end %>

<%= link_to 'Edit', edit_vehicle_checkout_path(@vehicle_checkout) %> |
<%= link_to 'Back', vehicle_checkouts_path %>
