<%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="col-xs-3">
    <%= f.input :customer_name %>
    <%= f.input :phone_number %>
    <%= f.input :email %>
    <%= f.input :street_address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>

    <%= f.association :business, :include_blank => true, :label_method => :business_name%>
      <%= f.association :user, :include_blank => true, :label_method => :email%>


    <%= f.button :submit, class: "btn btn-success btn-sm" %>
  </div>
    </div>
<% end %>
