<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="col-xs-3">
    <%= f.input :project_name %>
    <%= f.input :description %>

    <%= f.button :submit %>
  </div>
    </div>
<% end %>
