<p id="notice"><%= notice %></p>

<h1>Listing Vehicle Chekouts</h1>

<table>
  <thead>
    <tr>
      <th>Checkout date</th>
      <th>Return date</th>
      <th>Crew</th>
      <th>Vehicle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_chekouts.each do |vehicle_chekout| %>
      <tr>
        <td><%= vehicle_chekout.checkout_date %></td>
        <td><%= vehicle_chekout.return_date %></td>
        <td><%= vehicle_chekout.crew_id %></td>
        <td><%= vehicle_chekout.vehicle_id %></td>
        <td><%= link_to 'Show', vehicle_chekout %></td>
        <td><%= link_to 'Edit', edit_vehicle_chekout_path(vehicle_chekout) %></td>
        <td><%= link_to 'Destroy', vehicle_chekout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle chekout', new_vehicle_chekout_path %>
