<%= simple_form_for(@estimate_line_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="col-xs-3">
    <%= f.input :quantity %>
    <%= f.input :estimate_id %>
    <%= f.input :service_id %>


    <%= f.button :submit %>
      </div>
  </div>
<% end %>
