<%= simple_form_for(@estimate_line_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :quantity %>
    <%= f.input :estimate_id %>
    <%= f.input :service_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
