<p id="notice"><%= notice %></p>

<h1>Listing Estimate Line Items</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Estimate</th>
      <th>Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estimate_line_items.each do |estimate_line_item| %>
      <tr>
        <td><%= estimate_line_item.quantity %></td>
        <td><%= estimate_line_item.estimate_id %></td>
        <td><%= estimate_line_item.service_id %></td>
        <td><%= link_to 'Show', estimate_line_item %></td>
        <td><%= link_to 'Edit', edit_estimate_line_item_path(estimate_line_item) %></td>
        <td><%= link_to 'Destroy', estimate_line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estimate line item', new_estimate_line_item_path %>
