<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @estimate_line_item.quantity %>
</p>

<p>
  <strong>Estimate:</strong>
  <%= @estimate_line_item.estimate_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @estimate_line_item.service_id %>
</p>

<%= link_to 'Edit', edit_estimate_line_item_path(@estimate_line_item) %> |
<%= link_to 'Back', estimate_line_items_path %>
