<%= simple_form_for(@vehicle) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :vehicle_name %>
    <%= f.input :vechile_location %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
