<%= simple_form_for(@vehicle) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="col-xs-3">
    <%= f.input :vehicle_name %>
    <%= f.input :vechile_location %>

    <%= f.button :submit %>
  </div>
    </div>
<% end %>
