<!DOCTYPE html>
<html>
<head>
  <title>Santoyo Tree Service</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Custom CSS -->
  <link href="http://blackrockdigital.github.io/startbootstrap-modern-business/css/modern-business.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="http://blackrockdigital.github.io/startbootstrap-modern-business/css/modern-business.cssfont-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Bootstrap Core CSS -->
  <link href="http://blackrockdigital.github.io/startbootstrap-modern-business/css/modern-business.csscss/bootstrap.min.css" rel="stylesheet">


</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <a class="navbar-brand" href="/">Santoyo Tree Service</a>

    </div>

    <% if current_user.try(:admin?) || current_user.try(:employee?) %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <% if can? :read, Estimate %>
            <li><%= link_to "Estimates", estimates_path %></li>
        <% end %>
        <% if can? :read, Invoice %>
            <li><%= link_to("Invoices", invoices_path)%></li>
        <% end %>
        <% if can? :read, Service %>
            <li><%= link_to("Services", services_path)%></li>
        <% end %>
        <% if can? :read, Project %>
            <li><%= link_to("Projects", projects_path)%></li>
        <% end %>
        <% if can? :read, Customer %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clients<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "Customers", customers_path %>
                </li>
                <li>
                  <%= link_to "Businesses", businesses_path %>
                </li>
            </ul>
        <% end %>
        <% if can? :read, Equipment %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "Equipment", equipment_index_path %>
                </li>
                <li>
                  <%= link_to "Vehicles", vehicles_path %>
                </li>

              </ul>
            </li>
        <% end %>
        <% if can? :read, Crew %>
          <li><%= link_to "Crews", crews_path %></li>
        <% end %>
        <% if can? :read, Role %>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Roles", roles_path %>
            </li>
            <li>
              <%= link_to "Employees", employees_path %>
            </li>
            <li>
              <%= link_to "Users", users_path %>
            </li>

          </ul>
        </li>
        <% end %>
      </ul>
    
    </div>

    <% elsif current_user.try(:customer?) %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">

            <li> <%= link_to "About", about_index_path %></li>

            <li><%= link_to "Contact", contact_index_path %></li>
            <% if can? :read, Estimate %>
                <li><%= link_to "Estimates", estimates_path %></li>
            <% end %>
            <% if can? :read, Invoice %>
                <li><%= link_to("Invoices", invoices_path)%></li>
            <% end %>
            <% if can? :read, Service %>
                <li><%= link_to("Services", services_path)%></li>
            <% end %>
            </ul>
            </li>
          </ul>

        </div>

    <% else %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li> <%= link_to "About", about_index_path %></li>

            <li><%= link_to "Contact", contact_index_path %></li>

          </ul>
          </li>
          </ul>
    
        </div>


    <% end %>
  </div>
</nav>

     
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="blog-home-1.html">Blog Home 1</a>
            </li>
            <li>
              <a href="blog-home-2.html">Blog Home 2</a>
            </li>
            <li>
              <a href="blog-post.html">Blog Post</a>
            </li>
          </ul>
        </li>-->
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="full-width.html">Full Width Page</a>
            </li>
            <li>
              <a href="sidebar.html">Sidebar Page</a>
            </li>
            <li>
              <a href="faq.html">FAQ</a>
            </li>
            <li>
              <a href="404.html">404</a>
            </li>
            <li>
              <a href="pricing.html">Pricing Table</a>
            </li>
          </ul>
        </li>-->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>




</div>


<%= yield %>

<!-- Footer -->
<footer>
  <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Edit profile", edit_user_registration_path,class: "btn btn-warning" %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete,class: "btn btn-danger" %>
  <% else %>
      <%= link_to "Sign in", new_user_session_path,class: "btn btn-success btn-lg active" %>
  <% end %>

  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>



  <div class="row">
    <div class="col-lg-12">

    </div>
  </div>

  <div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <br>
  <p>Copyright &copy; Santoyo Tree Service 2016</p>

</footer>


</body>
</html>